/*
Snake EX2 Theme
By Daniel de Cordoba Gil
*/

/* Board */
.snake-board {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: black;
    border: 0px solid rgba(0, 0, 0, 0);
}

.board-original {
    background-color: rgba(238, 221, 187, 1);
}

/* Default images for all boxes whose variable is not specified by a theme*/
:root{
    --snake-head:        url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-body:        url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-turn-l:      url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-turn-r:      url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-tail:        url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-body-fat:    url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-turn-l-fat:  url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-turn-r-fat:  url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-tail-fat:    url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-mouth:       url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-head-tongue: url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-head-dead:   url('http://localhost/snakeII/css/images/missing_image2.png');
    --snake-food:        url('http://localhost/snakeII/css/images/missing_image2.png');
    --snake-tmp-food:    url('http://localhost/snakeII/css/images/missing_image2.png');
    --snake-tongue-body: url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-tongue-tip:  url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-obstacle:    url('http://localhost/snakeII/css/images/missing_image1.png');
    --snake-error:       url('http://localhost/snakeII/css/images/missing_image1.png');
}

/* Boxes in the board */
.snake-box {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border: 0px solid rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    /*top: -1000px;
    left: -1000px;*/
}

/* Generic box */
.snake-generic-box {
    background-image: url('./images/snakeblock.png');
}

/* Images for different boxes (variables depend on the chosen theme) */
.snake-snakebody-head {
    background-image: var(--snake-head);
}
.snake-snakebody-vertical {
    background-image: var(--snake-body);
}
.snake-snakebody-turn-l {
    background-image: var(--snake-turn-l);
}
.snake-snakebody-turn-r {
    background-image: var(--snake-turn-r);
}
.snake-snakebody-tail {
    background-image: var(--snake-tail);
}
.snake-snakebody-vertical-fat {
    background-image: var(--snake-body-fat);
}
.snake-snakebody-turn-l-fat {
    background-image: var(--snake-turn-l-fat);
}
.snake-snakebody-turn-r-fat {
    background-image: var(--snake-turn-r-fat);
}
.snake-snakebody-tail-fat {
    background-image: var(--snake-tail);
}
.snake-snakebody-open-mouth {
    background-image: var(--snake-mouth);
}
.snake-snakebody-head-tongue {
    background-image: var(--snake-head-tongue);
}
.snake-snakebody-dead {
   background-image: var(--snake-head-dead);
}
.snake-food-block {
    background-image: var(--snake-food);
}
.snake-tmp-food-block {
    background-image: var(--snake-tmp-food);
}
.snake-snakebody-tongue-body {
    background-image: var(--snake-tongue-body);
}
.snake-snakebody-tongue-tip {
    background-image: var(--snake-tongue-tip);
}
.snake-snakebody-obstacle0 {
    background-image: var(--snake-obstacle0);
}
.snake-snakebody-obstacle1 {
    background-image: var(--snake-obstacle1);
}
.snake-snakebody-obstacle2a {
    background-image: var(--snake-obstacle2a);
}
.snake-snakebody-obstacle2b {
    background-image: var(--snake-obstacle2b);
}
.snake-snakebody-obstacle3 {
    background-image: var(--snake-obstacle3);
}
.snake-snakebody-obstacle4 {
    background-image: var(--snake-obstacle4);
}
.snake-snakebody-error {
    background-image: var(--snake-error);
}

/* Obstacles */
/*.snake-snakebody-obstacle1{
    background-image: url('./images/obstacles/yellow.png');
}
.snake-snakebody-obstacle2{
    background-image: url('./images/obstacles/red.png');
}
.snake-snakebody-obstacle3{
    background-image: url('./images/obstacles/green.png');
}
.snake-snakebody-obstacle4{
    background-image: url('./images/obstacles/blue.png');
}*/

/* Tongue boxes */
/*.snake-snakebody-tongue-body {
    background-image: url('./images/tongue/tongue_body.png');
}
.snake-snakebody-tongue-tip {
    background-image: url('./images/tongue/tongue_tip.png');
}*/

/* Error box */
/*.snake-snakebody-error{
    background-image: url('./images/deadblock.png');
}*/

/* Directions (used to turn images) */
.snake-direction-left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.snake-direction-down {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.snake-direction-right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.snake-direction-up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Directions (used to turn images) plus mirroring/flipping */
.snake-direction-left.snake-mirror-horizontal {
    -webkit-transform: rotate(90deg) scaleY(-1);
    -moz-transform: rotate(90deg) scaleY(-1);
    -ms-transform: rotate(90deg);
    -ms-filter: "FlipH";
    -o-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);

}
.snake-direction-down.snake-mirror-horizontal {
    -webkit-transform: rotate(0deg) scaleX(-1);
    -moz-transform: rotate(0deg) scaleX(-1);
    -ms-transform: rotate(0deg);
    -ms-filter: "FlipH";
    -o-transform: rotate(0deg) scaleX(-1);
    transform: rotate(0deg) scaleX(-1);
}
.snake-direction-right.snake-mirror-horizontal {
    -webkit-transform: rotate(-90deg) scaleY(-1);
    -moz-transform: rotate(-90deg) scaleY(-1);
    -ms-transform: rotate(-90deg);
    -ms-filter: "FlipH";
    -o-transform: rotate(-90deg) scaleY(-1);
    transform: rotate(-90deg) scaleY(-1);
}
.snake-direction-up.snake-mirror-horizontal {
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg);
    -ms-filter: "FlipH";
    -o-transform: rotate(180deg) scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
}

.snake-direction-left.snake-mirror-vertical {
    -webkit-transform: rotate(90deg) scaleX(-1);
    -moz-transform: rotate(90deg) scaleX(-1);
    -ms-transform: rotate(90deg);
    -ms-filter: "FlipV";
    -o-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1);
}
.snake-direction-down.snake-mirror-vertical {
    -webkit-transform: rotate(0deg) scaleY(-1);
    -moz-transform: rotate(0deg) scaleY(-1);
    -ms-transform: rotate(0deg);
    -ms-filter: "FlipV";
    -o-transform: rotate(0deg) scaleY(-1);
    transform: rotate(0deg) scaleY(-1);
}
.snake-direction-right.snake-mirror-vertical {
    -webkit-transform: rotate(-90deg) scaleX(-1);
    -moz-transform: rotate(-90deg) scaleX(-1);
    -ms-transform: rotate(-90deg);
    -ms-filter: "FlipV";
    -o-transform: rotate(-90deg) scaleX(-1);
    transform: rotate(-90deg) scaleX(-1);
}
.snake-direction-up.snake-mirror-vertical {
    -webkit-transform: rotate(180deg) scaleY(-1);
    -moz-transform: rotate(180deg) scaleY(-1);
    -ms-transform: rotate(180deg);
    -ms-filter: "FlipV";
    -o-transform: rotate(180deg) scaleY(-1);
    transform: rotate(180deg) scaleY(-1);
}

/*
.snake-mirror-horizontal {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-filter: "FlipH";
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}
.snake-mirror-vertical {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-filter: "FlipV";
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
}
*/

/* Debug console */
.div-debug{
    font-family:Monospace;
}