.blue {
    --snake-head:        url('http://localhost/snakeII/css/images/blue/head_down.png');
    --snake-body:        url('http://localhost/snakeII/css/images/blue/vertical.png');
    --snake-turn-l:      url('http://localhost/snakeII/css/images/blue/turn_up_left.png');
    --snake-turn-r:      url('http://localhost/snakeII/css/images/blue/turn_up_right.png');
    --snake-tail:        url('http://localhost/snakeII/css/images/blue/tail_up.png');
    --snake-body-fat:    url('http://localhost/snakeII/css/images/blue/vertical_fat.png');
    --snake-turn-l-fat:  url('http://localhost/snakeII/css/images/blue/turn_up_left_fat.png');
    --snake-turn-r-fat:  url('http://localhost/snakeII/css/images/blue/turn_up_right_fat.png');
    --snake-tail-fat:    url('http://localhost/snakeII/css/images/blue/tail_up_fat.png');
    --snake-mouth:       url('http://localhost/snakeII/css/images/blue/mouth_down.png');
    --snake-head-tongue: url('http://localhost/snakeII/css/images/blue/head_down_tongue.png');
    --snake-head-dead:   url('http://localhost/snakeII/css/images/blue/head_down_dead.png');
    --snake-food:        url('http://localhost/snakeII/css/images/blue/food.png');
    --snake-tongue-body: url('http://localhost/snakeII/css/images/blue/tongue_body.png');
    --snake-tongue-tip:  url('http://localhost/snakeII/css/images/blue/tongue_tip.png');
    --snake-obstacle:    url('http://localhost/snakeII/css/images/blue/obstacle.png');
    --snake-obstacle0:   url('http://localhost/snakeII/css/images/blue/obstacle0.png');
    --snake-obstacle1:   url('http://localhost/snakeII/css/images/blue/obstacle1.png');
    --snake-obstacle2a:  url('http://localhost/snakeII/css/images/blue/obstacle2a.png');
    --snake-obstacle2b:  url('http://localhost/snakeII/css/images/blue/obstacle2b.png');
    --snake-obstacle3:   url('http://localhost/snakeII/css/images/blue/obstacle3.png');
    --snake-obstacle4:   url('http://localhost/snakeII/css/images/blue/obstacle4.png');
    --snake-error:       url('http://localhost/snakeII/css/images/blue/error.png');
}