.original24 {
    --snake-head:        url('http://localhost/snakeII/css/images/original24/head_down.png');
    --snake-body:        url('http://localhost/snakeII/css/images/original24/vertical.png');
    --snake-turn-l:      url('http://localhost/snakeII/css/images/original24/turn_up_left.png');
    --snake-turn-r:      url('http://localhost/snakeII/css/images/original24/turn_up_right.png');
    --snake-tail:        url('http://localhost/snakeII/css/images/original24/tail_up.png');
    --snake-body-fat:    url('http://localhost/snakeII/css/images/original24/vertical_fat.png');
    --snake-turn-l-fat:  url('http://localhost/snakeII/css/images/original24/turn_up_left_fat.png');
    --snake-turn-r-fat:  url('http://localhost/snakeII/css/images/original24/turn_up_right_fat.png');
    --snake-tail-fat:    url('http://localhost/snakeII/css/images/original24/tail_up_fat.png');
    --snake-mouth:       url('http://localhost/snakeII/css/images/original24/mouth_down.png');
    --snake-head-tongue: url('http://localhost/snakeII/css/images/original24/head_down_tongue.png');
    --snake-head-dead:   url('http://localhost/snakeII/css/images/original24/head_down_dead.png');
    --snake-food:        url('http://localhost/snakeII/css/images/original24/food.png');
    --snake-tongue-body: url('http://localhost/snakeII/css/images/original24/tongue_body.png');
    --snake-tongue-tip:  url('http://localhost/snakeII/css/images/original24/tongue_tip.png');
    --snake-obstacle:    url('http://localhost/snakeII/css/images/original24/obstacle.png');
    --snake-error:       url('http://localhost/snakeII/css/images/original24/error.png');
}